Loops
-For loop
-While loop
-Nested loop

*for loops*

In [1]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [2]:
#iterating over List
num=[1,2,3,4,5]
for i in num:
    print(i)

1
2
3
4
5

In [3]:
#iterating over String 
ab="Hello World!!"
for i in ab:
    print(i)

H
e
l
l
o

W
o
r
l
d
!
!

In [4]:
#iterating over dictionary
xy={"name":"Vaibhav","clss":"mca","age":25}
for k,v in xy.items():
    print("{} = {}".format(k,v))

name = Vaibhav
clss = mca
age = 25

In [5]:
#iterating over list of list
aa=[[1,2,3,4,5],[6,7,8,9,10],[11,22]]
for row in aa:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9
10
11
22

In [6]:
#iterating over tuple 
bb=("hello",11.24,55)
for i in bb:
    print(i)

hello
11.24
55

range(start, end, steps)

In [7]:
for i in range(1,51):
    print(i, end="  ")

1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50

In [8]:
for i in range(1,50):
    if i%2==0:
        print(i, end="  ")

2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48

In [9]:
for i in range(0,11):
    sq=i*i
    print("Square of {} = {}".format(i,sq))

Square of 0 = 0
Square of 1 = 1
Square of 2 = 4
Square of 3 = 9
Square of 4 = 16
Square of 5 = 25
Square of 6 = 36
Square of 7 = 49
Square of 8 = 64
Square of 9 = 81
Square of 10 = 100

In [10]:
for i in range(0,11):
    cube=i*i*i
    print("Cube of {} = {}".format(i,cube))

Cube of 0 = 0
Cube of 1 = 1
Cube of 2 = 8
Cube of 3 = 27
Cube of 4 = 64
Cube of 5 = 125
Cube of 6 = 216
Cube of 7 = 343
Cube of 8 = 512
Cube of 9 = 729
Cube of 10 = 1000

In [11]:
#list using range
a=list(range(1,11))
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#tuple using range
b=tuple(range(1,12))
print(type(b))
print(b)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [13]:
# Example 1: Creating a dictionary with keys as numbers in a range
start = 1
end = 10

# Using dictionary comprehension
my_dict = {num: num * 1 for num in range(start, end+1)}

print(my_dict)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [14]:
# WAP to to display squares of first 21 to 30 numbers

for i in range(21,31):
    sq=i*i
    print("Square of {} = {}".format(i,sq))

Square of 21 = 441
Square of 22 = 484
Square of 23 = 529
Square of 24 = 576
Square of 25 = 625
Square of 26 = 676
Square of 27 = 729
Square of 28 = 784
Square of 29 = 841
Square of 30 = 900

In [15]:
#WAP to disply first 15 number of cube but start value take it from user

st=int(input("Enter Start Value:"))
ed=st+16

for i in range(st,ed):
    cu=i**3
    print("Cube of {} = {}".format(i,cu))

Enter Start Value: 12

Cube of 12 = 1728
Cube of 13 = 2197
Cube of 14 = 2744
Cube of 15 = 3375
Cube of 16 = 4096
Cube of 17 = 4913
Cube of 18 = 5832
Cube of 19 = 6859
Cube of 20 = 8000
Cube of 21 = 9261
Cube of 22 = 10648
Cube of 23 = 12167
Cube of 24 = 13824
Cube of 25 = 15625
Cube of 26 = 17576
Cube of 27 = 19683

In [16]:
# WAP to find all even Numbers between 100 to 500.

for i in range(100,501):
    if i%2==0:
        print(i, end="    ")

100    102    104    106    108    110    112    114    116    118    120    122    124    126    128    130    132    134    136    138    140    142    144    146    148    150    152    154    156    158    160    162    164    166    168    170    172    174    176    178    180    182    184    186    188    190    192    194    196    198    200    202    204    206    208    210    212    214    216    218    220    222    224    226    228    230    232    234    236    238    240    242    244    246    248    250    252    254    256    258    260    262    264    266    268    270    272    274    276    278    280    282    284    286    288    290    292    294    296    298    300    302    304    306    308    310    312    314    316    318    320    322    324    326    328    330    332    334    336    338    340    342    344    346    348    350    352    354    356    358    360    362    364    366    368    370    372    374    376    378    380    382    384    386    388    390    392    394    396    398    400    402    404    406    408    410    412    414    416    418    420    422    424    426    428    430    432    434    436    438    440    442    444    446    448    450    452    454    456    458    460    462    464    466    468    470    472    474    476    478    480    482    484    486    488    490    492    494    496    498    500

In [17]:
# WAP to find numbers divisible by 7 in 111 to 222.
for i in range(111,223):
    if i%7==0:
        print("Numbers divisible by {} = {}".format(7,i))

Numbers divisible by 7 = 112
Numbers divisible by 7 = 119
Numbers divisible by 7 = 126
Numbers divisible by 7 = 133
Numbers divisible by 7 = 140
Numbers divisible by 7 = 147
Numbers divisible by 7 = 154
Numbers divisible by 7 = 161
Numbers divisible by 7 = 168
Numbers divisible by 7 = 175
Numbers divisible by 7 = 182
Numbers divisible by 7 = 189
Numbers divisible by 7 = 196
Numbers divisible by 7 = 203
Numbers divisible by 7 = 210
Numbers divisible by 7 = 217

In [18]:
# WAP to find numbers divisible by 7, 9 in 111 to 999. 

for i in range(111,1000):
    if i%7==0 and i%9==0:
        print("Numbers divisible by {} and {} = {}".format(7,9,i))

Numbers divisible by 7 and 9 = 126
Numbers divisible by 7 and 9 = 189
Numbers divisible by 7 and 9 = 252
Numbers divisible by 7 and 9 = 315
Numbers divisible by 7 and 9 = 378
Numbers divisible by 7 and 9 = 441
Numbers divisible by 7 and 9 = 504
Numbers divisible by 7 and 9 = 567
Numbers divisible by 7 and 9 = 630
Numbers divisible by 7 and 9 = 693
Numbers divisible by 7 and 9 = 756
Numbers divisible by 7 and 9 = 819
Numbers divisible by 7 and 9 = 882
Numbers divisible by 7 and 9 = 945

In [19]:
# WAP to add first 10 Numbers.

sum=0
for i in range(0,11):
    sum=sum+i
print(sum)

55

In [20]:
# WAP to find sum of 101 to 200.

sum=0
for i in range(101,201):
    sum=sum+i
print("sum of 101 to 200 is :",sum)

sum of 101 to 200 is : 15050

In [21]:
# WAP to find sum of all numbers divisible by 5 in 777 to 888.

sum=0
for i in range(777,889):
    if i%5==0:
        sum=sum+i
        print(i,end="  ")
print("\nSum of all Numbers divisivle by 5 in range of 777 to 888 is: ",sum)

780  785  790  795  800  805  810  815  820  825  830  835  840  845  850  855  860  865  870  875  880  885
Sum of all Numbers divisivle by 5 in range of 777 to 888 is:  18315

In [22]:
#Print the first 10 natural numbers using for loop.
n=11
for i in range(1,n):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
#Python program to print all the even numbers within the given range.

for i in range(0,23,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22

In [24]:
#Python program to calculate the sum of all the odd numbers within the given range.
num=int(input("Enter Your Range:"))
sum=0
for i in range(0,num):
    if i%2==1:
        print(i,end=" ")
        sum+=i
print("\nThe Sum of all Odd Number is:",sum)

Enter Your Range: 20

1 3 5 7 9 11 13 15 17 19
The Sum of all Odd Number is: 100

In [25]:
#Python program to print a multiplication table of a given number

ch=int(input("Enter a Table Number You want to print:"))
for i in range(1,11):
    out=ch*i
    print("{} * {} = {} ".format(ch,i,out))

Enter a Table Number You want to print: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [26]:
#Python program to display numbers from a list using a for loop.

ab=[1,2,3,4,5]
for i in ab:
    print(i,end="  ")

1  2  3  4  5

In [27]:
# Python program to count the total number of digits in a number.

abc=int(input("Enter a Number:"))
xy=str(abc)
count=0
for i in xy:
    count+=1
print("The Count In a Given Input is :",count)

Enter a Number: 333333

The Count In a Given Input is : 6

In [28]:
# Python program to check if the given string is a palindrome.

e=input("Enter a String:")
f=""
for i in e:
    f=i+f
print("Reverse String:",f)
if(f==e):
    print("The Enter String is Palindrome !")
else:
    print("The Enter String is Not a Palindrome !")

Enter a String: 121

Reverse String: 121
The Enter String is Palindrome !

In [29]:
#Python program that accepts a word from the user and reverses it.

s=input("Enter a String:")
re=""
for i in s:
    re=i+re
print("The Reverse String:",re)

Enter a String: sahil

The Reverse String: lihas

In [37]:
#Python program to check if a given number is an Armstrong number 

en=input("Enter a Number:")
a=len(en)
sum=0
for i in en:
    sum+=int(i)**a
if sum==int(en):
    print("The Given Number {} is Armstrong Number!".format(en))
else:
    print("The Given Number {} is Not Armstrong Number!".format(en))

Enter a Number: 153

3
The Given Number 153 is Armstrong Number!

Enter a Number: 153

3
The Given Number 153 is Armstrong Number!

In [32]:
ran=int(input("Enter a range:"))
for i in range(ran):
    if i%2==0:
        print(i,end="\t")

Enter a range: 20

0	2	4	6	8	10	12	14	16	18

In [33]:
#take a user input Numbers and display table of it 
num=int(input("Enter A Number:"))
for i in range(1,11):
    tb=num*i
    print("{} * {} = {}".format(num,i,tb))

Enter A Number: 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [7]:
tab=input("Which table You waana print:")
f_tab=int(tab)
last=tab+"0"
int_last=int(last)
f_last=int_last+1

for i in range(f_last):
    if(i%f_tab==0):
        print(i)

Which table You waana print: 6

0
6
12
18
24
30
36
42
48
54
60

In [35]:
tab=int(input("Which table You waana print:"))
en=int(input("Enter the last value of table:"))
for i in range(1,en+1):
    if i%tab==0:
        print(i)

Which table You waana print: 5
Enter the last value of table: 50

5
10
15
20
25
30
35
40
45
50