Sets 
- Collection of Well defined objects
- it can be homogenius and hetrogenius 
- Sets is Unordered collection of items/objects
- Each item/obj is Unique
- sets are unchangeble.
- Do not allow Duplicate values.
- syntax- name_of_set={ , , , ,}

In [11]:
a={'vaibhav',3,2,4,'MCA',5,4}
print(a)

{2, 3, 'vaibhav', 4, 5, 'MCA'}

In [7]:
vab={}
print(type(vab))

<class 'dict'>

In [6]:
# Empty set 
vab=set()
print(type(vab))

<class 'set'>

In [12]:
for i in a:
    print(i)

2
3
vaibhav
4
5
MCA

Methods

In [18]:
#Union and Update

s1={1,2,3,7}
s2={4,5,6,3}

print(s1.union(s2))
s1.update(s2)
print(s1,s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7} {3, 4, 5, 6}

In [31]:
#Interection and update - it will get the similler values in the both the sets

c1={'Pune','Mumbai','Sangli'}
c2={'Sangli','Satara',"Pune"}
#print(c1.intersection(c2))
# c1.update(c2)
# print(c1,c2)
c1.intersection_update(c2)
print(c1)

{'Sangli', 'Pune'}

In [32]:
#Symmetric Difference- It will print different value in both the sets 

c1={'Pune','Mumbai','Sangli'}
c2={'Sangli','Satara',"Pune"}
c3=c1.symmetric_difference(c2)
print(c3)

{'Satara', 'Mumbai'}

In [36]:
# Difference and update - Unique value only the first sets

c1={'Pune','Mumbai','Sangli','Nashik'}
c2={'Sangli','Satara',"Pune"}
c3=c1.difference(c2)
print(c3)

{'Mumbai', 'Nashik'}

In [39]:
# isdisjoint - checks the given set present in another set. return false if present else True

#gives True if not present in both 
c1={'Pune1','Mumbai','Sangli1','Nashik'}
c2={'Sangli','Satara',"Pune"}
c3=c1.isdisjoint(c2)
print(c3)

True

In [41]:
#gives false if values present in both 

c1={'Pune','Mumbai','Sangli','Nashik'}
c2={'Sangli','Satara',"Pune"}
c3=c1.isdisjoint(c2)
print(c3)

False

In [47]:
#issuperset - if another set have all the values of above set then true.

c1={'Pune','Mumbai','Sangli','Nashik'}
c2={'Sangli',"Pune"}
print(c1.issuperset(c2))
c3={'jaipur','delhi'}
print(c1.issuperset(c3))

True
False

In [51]:
#issubset- it's opposite for superset

c1={'Pune','Mumbai','Sangli','Nashik'}
c2={'Sangli',"Pune"}
print(c2.issubset(c1))
c3={'jaipur','delhi','Mumbai'}
print(c3.issubset(c1))

True
False

In [56]:
#remove/discard- remove raise error but discard not

c1={'Pune','Mumbai','Sangli','Nashik'}
c1.remove('Nashik')
c1.discard('pune')
print(c1)

{'Sangli', 'Mumbai', 'Pune'}

In [57]:
#Pop- last element removes

c1={'Pune','Mumbai','Sangli','Nashik'}
ab=c1.pop()
print(ab)
print(c1)

Sangli
{'Mumbai', 'Pune', 'Nashik'}

In [59]:
#del - not a method, it is a kayword that Delete entire set

c1={'Pune','Mumbai','Sangli','Nashik'}
del c1
print(c1)

NameError: name 'c1' is not defined

In [60]:
# clear()- Delete all values inside the set 

c1={'Pune','Mumbai','Sangli','Nashik'}
c1.clear()
print(c1)

set()

In [63]:
# checks if items Exists 
c1={'Pune','Mumbai','Sangli','Nashik'}
if 'Pune1' in c1:
    print("Pune Is Present in the Set!")
else:
    print("Not Present!")

Not Present!